<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio - Viajes Juares</title>
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="icon" href="/img/logoPag.png">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <div class="logo">
            <img src="/img/logoPag.png" alt="Logo" width="50">
            <h2>Viajes Chuares</h2>
            </div>
            <nav id="menuPrincipal"></nav>
        </div>
    </header>

  <main>
    <div class="ban">
      <h1 class="tit">Los mejores destinos <br> para tus próximas vacaciones</h1>
      <img src="/img/Img3.jpeg" alt="Banner principal" class="bari">
    </div>

    <section class="paquetes">
      <div class="paquete-card">
        <img src="/img/Img1.jpeg" alt="Paquete a La Pampa">
        <div class="contenido">
          <h3>Paquete a La Pampa</h3>
          <p class="subtitulo">Saliendo desde Buenos Aires</p>
          <p class="detalle">Hotel + Vuelo</p>
          <div class="rating-precio">
            <span class="rating">8.7</span>
            <span class="estrellas">★★★★★</span>
          </div>
          <div class="precio">
            <span class="precio-original">$612.511</span>
            <span class="precio-final">$572.357</span>
          </div>
        </div>
      </div>

      <div class="paquete-card">
        <img src="/img/Img2.jpeg" alt="Paquete a Mendoza">
        <div class="contenido">
          <h3>Paquete a Mendoza</h3>
          <p class="subtitulo">Saliendo desde Buenos Aires</p>
          <p class="detalle">Hotel + Vuelo + All Inclusive</p>
          <div class="rating-precio">
            <span class="rating">7.8</span>
            <span class="estrellas">★★★★☆</span>
          </div>
          <div class="precio">
            <span class="precio-original">$5.100.000</span>
            <span class="precio-final">$4.460.389</span>
          </div>
        </div>
      </div>

      <div class="paquete-card">
        <img src="/img/Img4.jpeg" alt="Paquete a Bariloche">
        <div class="contenido">
          <h3>Paquete a Bariloche</h3>
          <p class="subtitulo">Saliendo desde Rosario</p>
          <p class="detalle">Hotel 3* + Vuelo + Traslados</p>
          <div class="rating-precio">
            <span class="rating">9.1</span>
            <span class="estrellas">★★★★★</span>
          </div>
          <div class="precio">
            <span class="precio-original">$389.000</span>
            <span class="precio-final">$345.700</span>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
  <p>
    © 2025 Viajes Juares · Descubrí destinos increíbles, viví nuevas experiencias y creá recuerdos que durarán toda la vida. 
    Tu aventura comienza con nosotros.
  </p>
  <br>
  <div>
    <a href="#" target="_blank"><img src="/img/logoIg.png" alt="Instagram" style="width: 2.5%; padding: 5px;"></a>
    <a href="#"><img src="/img/logoFacebook.png" alt="Facebook" style="width: 2.5%; padding: 5px;"></a>
  </div>
</footer>


  <script src="/js/shared/menu.js"></script>

</body>
</html>
